body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8FAFD;
}

.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    /* padding: 20px; */
}

.right-header{
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: space-between; */
}

.profile{
    background-color: pink;
    border-radius: 50%;
    font-size: 23px;
    /* width: 100%; */
    padding: 5px;
}


.btn-compose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px 10px;
    background-color: #C2E7FE;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    font-weight: bold;
}

.e-mail{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 250px;
    padding: 10px 10px;
    font-weight: bold;
    align-items: center;
    height: 35px;
    cursor: pointer;
}

.e-mail:hover{
    background-color: #EAEDF0;
    /* height: 40px; */
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.icon-text{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
    /* margin: ; */

}

.p{
    font-size: 14px;
}

.count{
    font-size: 14px;
}

.label{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 240px;
    padding: 10px 20px;
    font-weight: bold;
}

.search-bar{
    position: absolute;
    height: 45px;
    margin-top: 3px;
    border: none;
    border-radius: 50px;
    background-color: #E9EEF6;

}

.search{
    width: 650px;

}

.search-control{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    padding: 0 55px;
    background-color: #E9EEF6;
    font-weight: 500;

}

.filter{
    position: absolute;
    height: 45px;
    margin-top: 3px;
    border: none;
    border-radius: 50px;
    background-color: #E9EEF6;
    right: 10px;
}

.middle-section{
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
}

.message-list{
    background-color: white;
    width: 80%;
    min-width: 680px;
    border-radius: 30px;
    height: 90vh;
    overflow-y: scroll;  
    
}

 

.check-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 0 20px;
}

.list-left{
    display: flex;
    align-items: center;
    gap: 25px;
}

.lists{
    display: flex;
    justify-content: space-between;
}

.list-right{
    display: flex;
    gap: 25px;
    align-items: center;
}

.keyboard-dropdown{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.slugs{
    display: flex;
    align-items: center;
    
    /* border-bottom: 1px solid #B5B6B6; */
}

.routs{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.rout-1{
    /* padding: 25px 0 5px 20px; */
    /* border: 1px solid; */
    height: 50px;
    width: 250px;
    margin-top: 20px ;
    padding-left:20px;
    cursor: pointer;

}

.social{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    /* width: 220px; */
    /* border: 1px solid; */
}

.new{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
}

.people{
    font-size: 12px;
    color: #B5B6B6;
}

.rout-1:hover{
    background-color: #f8fafd;
    ;
    /* padding: 20px; */
}

.mail-left{
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin-top: 8px; */
    /* padding-left: 20px; */
    gap: 15px;
    font-weight: bold;
    font-size: 14px;
    
}

.my-mails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ECEFF1;
    border-top: 1px solid #ECEFF1;
    height: 40px;
    /* margin-top: 10px; */

}

.mail-right, .time{
    font-size: 14px;

}

